Repository canonical-web-and-design/tutorials.ubuntu.com, pull requests merged in 2019-03, with the labels that each got.

#682 Add a new tutorial on apparmor profile development
  tutorials/security/beginning-apparmor-profile-development/beginning-apparmor-profile-development.md
Labels: Tutorials Content

#793 New tutorial: Command line for beginners
  tutorials/desktop/command-line-for-beginners/command-line-for-beginners.md
  tutorials/desktop/command-line-for-beginners/images/add_user_dialog.png
  tutorials/desktop/command-line-for-beginners/images/bionic_launcher.png
  tutorials/desktop/command-line-for-beginners/images/blank_terminal.png
  tutorials/desktop/command-line-for-beginners/images/man_page.png
  tutorials/desktop/command-line-for-beginners/images/mkdir.png
  tutorials/desktop/command-line-for-beginners/images/pwd.png
  tutorials/desktop/command-line-for-beginners/images/rm_error.png
  tutorials/desktop/command-line-for-beginners/images/rmdir_error.png
  tutorials/desktop/command-line-for-beginners/images/sudo.png
  tutorials/desktop/command-line-for-beginners/images/tree.png
Labels: Review: Code +1, Review: QA +1, Tutorials Content

#722 Explain how to view devices in Disk Utility
  tutorials/desktop/create-a-usb-stick-on-macos/create-a-usb-stick-on-macos.md
Labels: Review: Content, Tutorials Content

#558 Add Arduino IDE installation tutorial
  tutorials/iot/install-the-arduino-ide/images/first-launch-editor.png
  tutorials/iot/install-the-arduino-ide/images/greyed-out-option.png
  tutorials/iot/install-the-arduino-ide/images/option-available.png
  tutorials/iot/install-the-arduino-ide/images/perm-checker.png
  tutorials/iot/install-the-arduino-ide/install-the-arduino-ide.md
Labels: Review: QA +1, Tutorials Content

#565 Tutorial for installation and configuration of WordPress
  tutorials/server/install-and-configure-wordpress/images/all-posts.png
  tutorials/server/install-and-configure-wordpress/images/dashboard.png
  tutorials/server/install-and-configure-wordpress/images/install.png
  tutorials/server/install-and-configure-wordpress/images/move-to-trash.png
  tutorials/server/install-and-configure-wordpress/images/new-post.png
  tutorials/server/install-and-configure-wordpress/install-and-configure-wordpress.md
Labels: Review: QA +1, Tutorials Content

#574 Add ZFS snapshot & clone tutorial
  tutorials/server/using-zfs-snapshots-clones/using-zfs-snapshots-clones.md
Labels: Review: QA +1, Tutorials Content

#551 Tutorial for installation and configuration of nginx
  tutorials/server/install-and-configure-nginx/images/final.png
  tutorials/server/install-and-configure-nginx/images/welcome.png
  tutorials/server/install-and-configure-nginx/install-and-configure-nginx.md
Labels: Review: QA +1, Tutorials Content

#943 Fix typo
  tutorials/containers/create-custom-lxd-images/create-custom-lxd-images.md
Labels: Review: QA +1

#543 Add RocketChat server tutorial
  tutorials/server/setup-rocketchat-server-on-ubuntu/images/1.png
  tutorials/server/setup-rocketchat-server-on-ubuntu/images/2.png
  tutorials/server/setup-rocketchat-server-on-ubuntu/images/3.png
  tutorials/server/setup-rocketchat-server-on-ubuntu/images/4.png
  tutorials/server/setup-rocketchat-server-on-ubuntu/setup-rocketchat-server-on-ubuntu.md
Labels: Review: QA +1, Tutorials Content

#944 Fix link on custom lxd
  tutorials/containers/create-custom-lxd-images/create-custom-lxd-images.md
Labels: Review: Code needed, Review: QA needed
